---
__tmp_dir:              "{{ tmp_dir | default('/opt/IBM/Binaries') }}/was"
__logs_dir:             "{{ tmp_dir | default('/opt/IBM/Binaries') }}/logs"
__iim_install_location: "{{ iim_install_location  | default('/opt/IBM/InstallationManager') }}"
__was_install_location: "{{ was_install_location  | default('/opt/IBM/WebSphere/AppServer') }}"
__imshared_location:    "{{ imshared_location  | default('/opt/IBM/IMShared') }}"
__now:                  "{{ lookup('pipe', 'date +%Y%m%d%H%M%S') }}"
__rsp_file:             "{{ __logs_dir }}/was_nd.rsp"
__log_file:             "{{ __logs_dir }}/was_nd_install.{{ __now }}.log"
__tpl_file:             "was_nd.rsp.j2"

# see repository.xml
__this_version:         "{{ was_version | default('9.0.5016.20230609_0954') }}"
__product_id:           "com.ibm.websphere.ND.v90"
__version_check:        "Installed com.ibm.websphere.ND"

# JDK 
__jdk_product_id:       "com.ibm.java.jdk.v8"
__jdk_version:          "{{ jdk_version | default('8.0.8021.20240318_0922') }}"
