---
- name:          "Create Managed Server"
  command: "{{ __was_install_location }}/profiles/{{ __profile_name }}/bin/wsadmin.sh "
  register:      cout
  changed_when:  cout.rc == 0
  failed_when:   cout.rc != 0
  