---
- name:          "Create Managed Server"
  command:
    - {{ __was_install_location }}/profiles/{{ __profile_name }}/bin/wsadmin.sh
    - -lang 
    - jython 
    - -conntype 
    - SOAP 
    - -host 
    - rhel2 
    - -username 
    - wasadmin 
    - -password 
    - changeit 
    - -f 
    - files/was_create_server.py
  register:      cout
  changed_when:  cout.rc == 0
  failed_when:   cout.rc != 0
  