---
- name: Copy Jython Script File
  copy:
    src: files/was_create_server.jy
    dest: /tmp/was_create_server.jy
    force: true

- name:          "Create Managed Server"
  command:
    argv:
      - "{{ __was_install_location }}/profiles/{{ __profile_name }}/bin/wsadmin.sh" 
      - -lang 
      - jython 
      - -conntype 
      - SOAP 
      - -host 
      - rhel2 
      - -username 
      - wasadmin 
      - -password 
      - changeit 
      - -f 
      - /tmp/was_create_server.jy
  register:      cout
  changed_when:  cout.rc == 0
  failed_when:   cout.rc != 0
  